*{
	padding: 0;
	margin: 0;
}
ul{
    list-style-type:none;
	width: 306px;
	box-sizing: border-box;
}
ul li{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	float: left;
	border: 1px solid transparent;
}
ul li a{
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: block;
}
ul li:nth-child(1){
	background-color: #d66ae9;
}
ul li:nth-child(2){
	background-color: #82cdda;
}
ul li:nth-child(3){
	background-color: #986adc;
}
ul li:nth-child(4){
	background-color: #a5c4ee;
}
ul li:nth-child(6){
	background-color: #d780cc;
}
ul li:nth-child(7){
	background-color: #6be09f;
}
ul li:nth-child(8){
	background-color: #eff299;
}
ul li:nth-child(9){
	background-color: #f2b699;
}
